body,
html {
  margin: 0;
  padding: 0;

  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
}


#root {
  --border-color: #e4e4e4;
}

.ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis_2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 自定义整个滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

/* 自定义滚动条轨道 */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* 自定义滚动条的滑块（thumb） */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* 当滑块悬停或活动时，可以设置不同的颜色 */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}